.swiper,
.swiper-initialized {
  padding-bottom: 34px !important;

}

.swiper-button-prev,
.swiper-button-next {
  bottom: 0px !important;
  top: unset !important;
  right: 0 !important;
  left: 0 !important;
  margin: auto;
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 18px !important;
  height: 18px !important;
}

.swiper-button-prev svg path,
.swiper-button-next svg path {
  fill: white;
}

.swiper-button-next {
  transform: translateX(30px);
}
.swiper-button-next:lang(ar) {
  transform: translateX(-30px);
}
